<% flash.each do |key, value| %>
    <div style="color:green"><%= value %></div><br>
<% end %>

<%= "Index of all kittens:" %><br><br>
<%= link_to "create new kitten record", new_kitten_path,style: "color: blue" %>
<br><br>

<% @kittens.each do |kitten| %>
  <%= "id: #{kitten.id}" %>
  <%= "name: #{kitten.name}" %>
  <%= "age: #{kitten.age}" %>
  <%= "cuteness: #{kitten.cuteness}" %>
  <%= "softness: #{kitten.softness}" %>
  <%= link_to "show", kitten_path(kitten), style: "color: blue" %>
  <%= link_to "delete", kitten, style: "color: blue", method: :delete,
                                    data: { confirm: "You sure?" } %>
  <%= link_to "edit", edit_kitten_path(kitten), style: "color: blue" %>
  <br>
<% end %>
